body {
  width: 945px;
  margin: 0 auto;
}
h1{
  font-family: 'Futura';
  font-size: 52px;
  letter-spacing: 2px;
  text-align:center;
  margin-bottom: 0px;
  text-shadow: white 0.1em 0.1em 0.2em;
}

div.summary {
  text-align:center;
  font-family: "Century Gothic";
}

div.menu {
  text-align: center;
}

li.menu{
  font-family: 'Futura';
  font-size: 20px;
  display: inline;
  list-style-type: none;
  padding-right: 80px;
  text-shadow: white 0.1em 0.1em 0.2em;
}

li.menu a {
  color: black;
  text-decoration: none;
}

li.menu a:hover {
  text-decoration: underline;
}

body.index {
  background-image: url(images/austin.jpg);
  background-attachment: fixed;
  background-position: 50% 10px;
  background-repeat: no-repeat no-repeat;
  background-size: 945px 142px;
}

div.slideshow {
  margin: 0 auto;
}

div.sidebar {
  width: 20%;
  display: inline-block;
  float: left;
  border-right: thin solid #A8A3A3;
  height: 100%;
}

div.content {
  width: 75%;
  display: inline-block;
  float: right;
}
