body {
  width: 945px;
  margin: 0 auto;
}
h1{
  font-family: 'Futura';
  font-size: 52px;
  letter-spacing: 2px;
  text-align:center;
  margin-bottom: 0px;
}

div.summary {
  text-align:center;
  font-family: "Century Gothic";
}

div.menu {
  text-align: center;
}

li.menu{
  font-family: 'Futura';
  font-size: 20px;
  display: inline;
  list-style-type: none;
  padding-right: 80px;
}

li.menu a {
  color: black;
  text-decoration: none;
}

li.menu a:hover {
  text-decoration: underline;
}
